<div class="container">
    <h3>Return Cycles</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Cycle ID</th>
                <th>Brand</th>
                <th>Quantity</th>
                <th>Days Rented</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let cart of carts">
                <tr *ngFor="let cartItem of cart.cartItems">
                    <td>{{ cart.user.name }}</td>
                    <td>{{ cartItem.cycle.id }}</td>
                    <td>{{ cartItem.cycle.brand }}</td>
                    <td>{{ cartItem.quantity }}</td>
                    <td>{{ cartItem.days }}</td>
                    <td>
                        <button (click)="returnCycle(cart.id,cartItem.cycle.id)">Return</button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
