<div class="container">
    <h3>Cart</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Cycle ID</th>
          <th scope="col">Brand</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price (per day)</th>
          <th scope="col">Days</th>
          <th scope ="col">SubTotal Cost</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cartItem of cartItems">
          <td>{{ cartItem.cycle.id }}</td>
          <td>{{ cartItem.cycle.brand }}</td>
          <td>{{ cartItem.quantity }}</td>
          <td>{{ cartItem.cycle.price }}</td>
          <td>
            <input
              type="number"
              [(ngModel)]="cartItem.days"
              (click)="calculateTotal()"
              [ngModel]="1"
              min="1"
              placeholder="Days"
            />
          </td>
          
          <td>{{ cartItem.quantity * cartItem.cycle.price * cartItem.days }}</td>
          <td>
            <button
              (click)="removeFromCart(cartItem.cycle.id)"
              class="btn btn-danger"
            >
              Remove from Cart
            </button>
        </td>
        </tr>
      </tbody>
    </table>
    <button (click)="removeAllFromCart()" class="btn btn-danger">
        Remove all
    </button>
  </div>
  <div>
    <!-- <a (click)="calculateTotal()">calcuate</a> -->
    <span class="total-cost">Total: {{ totalCost }} </span>
    <button (click)="checkout()" class="btn btn-primary checkout-button">Checkout</button>
  </div>
  
  